<nav>
    <a href="/" class="logo pos-fix-logo">
        <img src="./assets/SK-favicon.svg" alt="Start in Krypto">
    </a>
    
    <ul>
        <li>
            <a href="/impressum.html">Impressum</a>
        </li>
        <li>
            <a href="/datenschutz.html">Datenschutz</a>
        </li>
    </ul>

    <ul class="social-media">
        <li>
            <a target="_blank" href="https://www.instagram.com/startinkrypto.de/">
                <img src="./assets/instagram.svg" alt="instagram">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://x.com/startinkrypto">
                <img src="./assets/x.svg" alt="x">
            </a>
        </li>
    </ul>
</nav>
<span class="footer-copyright">© <span class="year"></span> Start in Krypto - Dein Einstieg in die Krypto-Welt.</span>
