
<nav class="main-nav" id="aside-main-nav">
    
    <a href="/" class="logo pos-fix-logo">
        <img src="./assets/SK-logo.svg" alt="Start in Krypto">
    </a>

    <button class="hamburger hamburger--collapse" 
        type="button" 
        aria-label="Öffne das Menu" 
        aria-expanded="false">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    
        
        <ul class="menu-list">
            <li>
                <a href="/#start" class="nav-link">
                    Start
                </a>
            </li>
            <li>
                <a href="/#dein-weg" class="nav-link">
                    Dein Weg
                </a>
            </li>
            <li>
                <a href="/#angebot" class="nav-link">
                    Angebot
                </a>
            </li>
            <li>
                <a href="/#uber-mich" class="nav-link">
                    Über mich
                </a>
            </li>
            <li>
                <a href="/#Rezensionen" class="nav-link">
                    Rezensionen
                </a>
            </li>
            <li>
                <a href="/#kontakt" class="nav-link">
                    Kontakt
                </a>
            </li>
            <li>
                <a class="main-button header-button" href="termin.html" title="Termin">
                    <span class="visually-hidden">Jetzt kostenlosen Termin verinbaren</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                        <path d="M16 3v4"></path>
                        <path d="M8 3v4"></path>
                        <path d="M4 11h16"></path>
                        <path d="M8 14v4"></path>
                        <path d="M12 14v4"></path>
                        <path d="M16 14v4"></path>
                    </svg> 
                </a>
            </li>
    </ul>
</nav>