
<nav class="main-nav" id="aside-main-nav">

    <a href="/" class="logo pos-fix-logo">
        <img src="./assets/SK-logo.svg" alt="Start in Krypto"></a>

    <ul class="menu-list">
        <li>
            <a href="index.html#about-me" class="link">
                Über mich
            </a>
        </li>
        <li>
            <a href="index.html#your-way" class="link">
                Dein Weg
            </a>
        </li>
        <li>
            <a href="index.html#contact" class="link">
                Kontakt
            </a>
        </li>
    </ul>
    
    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</nav>