@import "./resets.css";
@import "./animations.css";

@import "../node_modules/hamburgers/dist/hamburgers.css";

:root {
  --main: #000000;
  --primary: #f7931a;
  --secondary: #70c9bb;
  --required: #ff0000;
  --border-color: #e4e5e5;
  --border-radius: 0.625rem;
  --max-width: 70rem;
  --body-bg: #fafafa;
  --box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  --letter-color: #2f4858;
  --first-transition: all 200ms ease-in-out;
  --content-color: #FAFAFA;
  --footer:#e1e1e1;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-size: 16px;
  background-color: var(--body-bg);
  min-height: 100vh;
  color: var(--letter-color);
}

.header,
.welcome,
.about-me,
.service,
.road,
.contact,
.footer,
.imprint,
.appointment,
.legacy {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f5;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: var(--max-width);
  width: 100%;
  padding-inline: 3.125rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.main-nav .logo {
  display: flex;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  font-size: 1.4375rem;
  color: var(--letter-color);
}

.main-nav .logo img {
  height: 4rem;
  border-radius: 25%;
}

.main-nav .logo img:hover {
  filter: drop-shadow(2px 4px 6px var(--primary));
}

.main-nav ul {
  display: flex;
  gap: 2.25rem;
  list-style-type: none;
}

.main-nav ul li a {
  position: relative;
  width: 10rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4375rem;
  height: 2rem;
  line-height: 1.725rem;
  color: inherit;
  transition: all 125ms ease-in;
}

.main-nav ul li a:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
}

.main-nav ul li a:active {
  border: none;
}

.main-nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--letter-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 125ms ease-in-out;
}

.main-nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-nav ul .languages {
  transform: translateY(-5px);
  column-gap: 1.25rem;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4375rem;
}

.main-nav ul .languages button {
  display: flex;
  color: var(--primary);
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 0.5rem;
  line-height: normal;
  padding: 2px;
}

.main-nav ul .languages button:hover {
  font-weight: 700;
}

.main-nav ul .languages button:focus {
  outline: var(--primary);
  font-weight: 700;
}

.main-nav ul .languages .selected {
  border: solid 2px var(--primary);
  border-radius: 0.5rem;
  line-height: normal;
  padding: 2px;
}

.main-nav button {
  display: none;
  background: none;
  z-index: 1;
}

/* WELCOME */

.welcome-content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 7rem 2rem 2rem 2rem ;
  margin-inline: 1rem;
  position: relative;
  background-color: var(--content-color);
}

.welcome .welcome-content-main .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 4rem;
  font-size: 3.5rem;
}

.welcome .welcome-content-main .welcome-text h1 {
  font-size: clamp(1rem, 9vw, 3rem);
  text-align: center;
}

.welcome .welcome-content-main .welcome-text p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  text-align: center;
  padding-inline: 2rem;
}

.start {
  color: var(--primary);
}

.krypto {
  color: var(--secondary);
}

.welcome-welcome {
  display: flex;
}

.coin-left,
.coin-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.coin-left li,
.coin-right li {
  transform: scale(1);
  transition: var(--first-transition);
}

.coin-left li:hover,
.coin-right li:hover {
  transform: scale(1.1);
}

.coin {
  width: 8rem;
}

/* ABOUT ME */
.about-me {
  position: relative;
  margin-top: 7rem;
}

.about-me .about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-inline: 1rem;
}

.about-me .about-me-content .about-me-bitcoin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 50%;
  width: 11.5rem;
  height: 11.5rem;
  position: absolute;
  top: -5rem;
}

.about-me .about-me-content .about-me-bitcoin .about-me-kaspa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
}

.about-me .about-me-content img {
  border-radius: 50%;
  width: 10.5rem;
}

.about-me .about-me-description {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1rem;
}

.about-me-description p {
  text-align: justify;
  hyphens: auto;
  position: relative;

}

.about-me-description p::before {
  content: "*";
  position: absolute;
  left: -24px; /* Or however far you want it from the text */
  top: 0.2em;
  width: 5rem;
  height: 5rem;
}
/* SERVICE */

.service-content,
.road-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-inline: 1rem;
  background-color: var(--content-color);
}

.service-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.service-content .my-offer {
  height: 20rem;
  border-radius: 10%;
  margin-bottom: 2rem;
  object-fit: cover;
}
.service-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25rem;
  margin-inline: 1rem;
}

.service-description p {
  line-height: 2;
}

.service-description .quote {
  font-style: oblique;
  margin-block: 1rem;
}

.service-description .strong-puls {
  margin-block: 1rem;
}

.service-detials {
  list-style-type: disclosure-closed;
}


/* ROAD */

.road-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.road-content .your-way {
  border-radius: 50%;
  height: 20rem;
  margin-bottom: 2rem;
}

.road-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.road-lists li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.road-lists li .coin {
  height: 5rem;
  width: auto;
}

.road-lists .question {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.service-lists .answer {
  font-size: 1rem;
}

/* CONTACT */
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-inline: 1rem;
  background-color: var(--content-color);
}

.contact-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.contact-media {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.qr-code {
  width: 6rem;
}

.contact-appointment {
  border: solid 2px var(--secondary);
  background-color: var(--primary);
  color: #000000;
  border-radius: var(--border-radius);
  display: flex;
  margin: 2rem;
  padding: 0.5rem;
  transition: var(--first-transition);
}

.contact-appointment:hover {
  border: solid 2px var(--primary);
  color: #ffff;
}

.contact-appointment:hover svg path {
  color: #ffff;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  /* background-color: #f4f4f5; */
  background-color: var(--footer);
  margin-bottom: 0;
}

.footer nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer nav ul {
  display: flex;
  gap: 1rem;
}

.footer nav ul li {
  transform: scale(1);
  transition: var(--first-transition);
}

.footer nav ul li:hover {
  transform: scale(1.02);
}

.footer nav ul li a {
  color: var(--letter-color);
}

.footer nav .social-media li a img {
  width: 2rem;
}

.footer .footer-copyright {
  font-size: clamp(0.1rem, 3vw, 1rem);
}

.appointment,
.imprint {
  flex: 1; /*footer under*/
}

.appointment-content,
.imprint-content,
.legacy-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  padding: 7rem 2rem 2rem 2rem;
  margin-inline: 1rem;
  position: relative;
}

.imprint-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.imprint-description p:nth-child(1),
.imprint-description p:nth-child(2) {
  font-weight: 700;
}

.imprint-description p a[target="_blank"] {
  word-break: break-all;
}

.legacy-content .legacy-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.legacy-description p a[target="_blank"] {
  word-break: break-all;
}

.error {
  display: none;
}

.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--body-bg);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 950px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    width: 100%;
    background-color: var(--body-bg);
    transition: all 175ms ease-in-out;
    gap: 3.25rem;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    box-shadow: var(--box-shadow);
  }

  .main-nav button {
    display: flex;
  }

  .main-nav .show-menu {
    height: 50%;
  }

  .main-nav .pos-fix-hamburger {
    position: fixed;
    top: 0.05rem;
    right: 0.85rem;
  }
}

@media (max-height: 400px) {
  .main-nav ul {
    overflow-y: auto;
    padding-block: 50px;
  }
}

@media (max-width: 500px) {
  .main-nav {
    height: 3rem;
    padding-inline: 0;
  }

  .main-nav .logo img {
    height: 3rem;
  }

  .welcome-welcome {
    flex-direction: column;
  }
  .welcome .welcome-content .welcome-text {
    gap: 1rem;
    margin-block: 1rem;
    padding-top: 0;
  }

  .imprint-content,
  .legacy-content {
    padding: 5rem 2rem 2rem 2rem;
  }

  .welcome .welcome-content .welcome-text p {
    padding-inline: 0;
  }

  .welcome-content-main {
    padding: 5rem 0.5rem 0.5rem 0.5rem;
  }

  .coin-left,
  .coin-right {
    flex-direction: row;
    gap: 3rem;
  }

  .coin {
    width: 2rem;
  }
  .service-content .service-description p {
    line-height: 1.5;
  }

  .road-content .road-lists li {
    flex-direction: column;
    gap: 0;
  }
}
