@import "./resets.css";
@import "./animations.css";
@import "./main-button.css";


@import "../node_modules/hamburgers/dist/hamburgers.css";

:root {
  --main: #000000;
  --primary: #d6a553;
  --secondary: #8f5907;
  --required: #ff0000;
  --border-color: #e4e5e5;
  --border-radius: 0.625rem;
  --max-width: 80rem;
  --body-bg: #fafafa;
  --box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  --letter-color: #000;
  --first-transition: all 200ms ease-in-out;
  --content-color: #fafafa;
  --footer: #e1e1e1;
  --focus: 2px dotted var(--primary);
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  font-family: "Inter";
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
  min-height: calc(100vh - 177px);
  color: var(--letter-color);
  padding-inline: 1rem;
  gap: 1rem;
}

.header,
.welcome,
.quote,
.about-me,
.service,
.road,
.contact,
.imprint,
.appointment,
.legacy {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header.reveal {
  animation: revealHeader 1000ms ease forwards;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: var(--max-width);
  width: 100%;
  padding-inline: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-inline: 1rem;
  background: #ffff;
}

.main-nav .logo {
  display: flex;
  align-items: center;
  z-index: 2;
  font-weight: 600;
  font-size: 1.4375rem;
  color: var(--letter-color);
  mix-blend-mode: multiply;
  outline: transparent;
  border: 2px solid transparent;
}

.main-nav .logo:focus {
  border: 2px dotted var(--primary);
  outline: var(--primary);
}

.logo:focus:not(:focus-visible) {
  outline: none;
  border: 2px solid transparent;
}

.main-nav .logo img {
  height: 4rem;
  padding: 0.2rem;
}

.main-nav .logo img:hover {
  filter: drop-shadow(2px 4px 6px var(--primary));
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style-type: none;
}

.main-nav ul li .nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: clamp(1rem, 0.5vw, 2rem);
  height: 2rem;
  line-height: 1.725rem;
  color: inherit;
  transition: all 125ms ease-in;
  border: 0.125rem dotted transparent;
}

.main-nav ul li .nav-link:focus-visible {
  border: 0.125rem dotted var(--primary);
  outline: var(--primary);
}

.main-nav ul li .nav-link:active {
  border: 0.125rem dotted transparent;
}

.main-nav ul li .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--letter-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 125ms ease-in-out;
}

.main-nav ul li .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-nav ul li {
  opacity: 1;
  transition: opacity 125ms ease-in-out;
}

.main-nav ul:hover > li:not(:hover) {
  opacity: 0.3;
}

.main-nav ul .languages {
  transform: translateY(-5px);
  column-gap: 1.25rem;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4375rem;
}

.main-nav ul .languages button {
  display: flex;
  color: var(--primary);
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 0.5rem;
  line-height: normal;
  padding: 2px;
}

.main-nav ul .languages button:hover {
  font-weight: 700;
}

.main-nav ul .languages button:focus {
  font-weight: 700;
}

.main-nav ul .languages .selected {
  border: solid 2px var(--primary);
  border-radius: 0.5rem;
  line-height: normal;
  padding: 2px;
}

.main-nav button {
  display: none;
  background: none;
  z-index: 1;
}

/* WELCOME */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 100%;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 7rem 2rem 2rem 2rem;
  margin-inline: 1rem;
  position: relative;
  background-color: var(--content-color);
  margin: 0.5rem auto 0 auto;
  gap: 1rem;
  overflow: hidden;
  background-image: url("../assets/front-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome .welcome-content {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: center;
  padding-inline: 2rem;
  width: 100%;
}

.welcome-content h1 {
  text-align: center;
  font-size: clamp(2.5rem, 3.5vw, 6.5rem);
  margin-top: -15rem;
}

.welcome-content p {
  max-width: 31.25rem;
  margin: auto;
  font-size: clamp(0.5rem, 4vw, 1.5rem);
}

.start {
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.krypto {
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  width: 5rem;
  height: fit-content;
  margin: auto;
}

/* WHY WE */

.why-start-in-krypto-content {
  display: flex;
  
}

.why-start-in-krypto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--content-color);
  padding: 2rem;
  gap: 2rem;
  margin: auto;
  background: url("../assets/SK-favicon-colorless.svg") center no-repeat;
}

.about-me-img {
  border: 0.25rem solid var(--primary); /* Inner border */
  box-shadow: 0 0 0 0.25rem var(--secondary); /* Outer border */
  border-radius: 50%;
  width: 10.5rem;
}


.why-start-in-krypto-img {
  object-fit: cover;
  height: 60vh;
}

.why-start-in-krypto-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  z-index: 0;
  flex: 1;
  margin-bottom: 1rem;
}

.why-start-in-krypto-img-figcaption{
  display: none;
}

/* ABOUT ME */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--content-color);
  padding: 2rem;
  gap: 2rem;
  margin: auto;
}

figcaption {
  font-size: 1.5em;
  font-weight: bold;
}
.why-we-content img {
  border-radius: 50%;
  width: 10.5rem;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-inline: 2rem;
  gap: 1rem;
}

.about-me-description {
  text-align: center;
  z-index: 0;
  flex: 3;
}

.about-me-description p {
  text-align: start;
  hyphens: auto;
  position: relative;
}

.service-description img{
  width: 3rem;
  height: 3rem;
}

.about-me-description p::before {
  content: "";
  background-image: url("../assets/direct-hit.webp");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: absolute;
  left: -2.2875rem; /* Or however far you want it from the text */
  top: 0.2rem;
  width: 4.5rem;
  height: 4.5rem;
}

.quote {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  gap: 1rem;
  margin: auto;
}
.quote img {
  align-self: flex-start;
}

blockquote {
  display: flex;
  flex-direction: column;
}

blockquote footer {
  align-self: flex-end;
  font-weight: 600;
}

blockquote footer a:hover {
  text-decoration: underline;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  gap: 2rem;
  margin: auto;
  position: relative;
}

.our-partner-title,
.why-start-title,
.about-me-title,
.service-title
.instagram-title
{
  font-size: 1.5rem;
  text-align: center;
}

.service .my-offer {
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 0;
}

.service-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 3;
}

.service-description li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding: 1rem;
  flex-basis: 40%;
  max-width: 40%;
  gap: 1rem;
}

.service-description .paragraph:nth-of-type(4) {
  margin-bottom: 0;
}

.service-description .quote {
  font-style: oblique;
  margin-block: 1rem;
}

.strong-plus-container {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 1.5rem;
  padding: 0.5rem;
  gap: 1rem;
  font-weight: 600;
  z-index: 0;
}

.strong-plus-container:hover span {
  filter: drop-shadow(2px 4px 6px var(--primary));
}

.strong-plus-container:focus {
  outline: var(--focus);
}

.strong-plus-container:not(:focus-visible) {
  outline: none;
}

.strong-arrow {
  width: 2rem;
}

.strong-plus-container a:focus,
.strong-plus-container a:focus-visible {
  outline: var(--focus);
}

.faq a,
.legacy a,
.imprint a,
.appointment-content a {
  align-self: baseline;
}

.faq a .strong-arrow,
.legacy a .strong-arrow,
.imprint a .strong-arrow,
.appointment-content a .strong-arrow {
  transform: rotate(-180deg);
  width: 2rem;
}

.strong-help {
  border: solid 0.1375rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  box-shadow: var(--box-shadow) inset;
  z-index: 0;
}

.service-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 3rem;
}

.service-details li {
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
}

.service-details li::before {
  content: "";
  background-image: url("../assets/confirm.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: absolute;
  left: -2.5rem;
  top: 0rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: 40px;
  height: 40px;
}

/* ROAD */

.road-title {
  font-size: 1.5rem;
  text-align: center;
  z-index: 0;
}

.road-title-you-way {
  font-size: 2.5rem;
}

.your-way {
  border-radius: 50%;
  height: 20rem;
  object-fit: cover;
  z-index: 0;
  margin-bottom: 2rem;
}

.short-description {
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  z-index: 0;
}

.road {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  position: relative;
  background-image: url("/assets/schillernder-original.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  gap: 1rem;
  margin: auto;
  color: white;
}

.road-lists {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
  border-image: linear-gradoent();
}

.road::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
  opacity: 0.6;
  border-radius: var(--border-radius);
}

.road-lists li {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  flex-basis: 300px;
}

.road-lists li .coin {
  height: 5rem;
  width: auto;
  align-self: flex-start;
}

.road-lists .question {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.service-lists .answer {
  font-size: 1rem;
}

/* UNSERE PARTNER */

.our-partners {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  margin: auto;
  gap: 1rem;
}

.partner-list {
  width: 100%;
}

.partner-list details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.partner-list-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.partner-list details::after {
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 70%;
  background: linear-gradient(180deg, #d6a553, #8f5907);
  margin-inline: auto;
  bottom: -0.5rem;
  left: 0;
  right: 0;
}

.partner-list details:last-child::after {
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 70%;
  background: transparent;
  margin-inline: auto;
  bottom: -3rem;
  left: 0;
  right: 0;
}

.partner-list details:last-child {
  margin-bottom: 0;
}

summary {
  position: relative;
  text-align: start;
  background: none;
  background: linear-gradient(180deg, #d6a65357, #8f59073f);
  border-radius: var(--border-radius);
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: 500;
  scale: 1;
  cursor: pointer;
  transition: var(--first-transition);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 2rem;
}


summary::after {
  content: url("../assets/plus.svg");
  position: absolute;
  right: 1rem;
}

details[open] summary::after {
  content: url("../assets/minus.svg");
}

summary::marker {
  content: "";
}

/* For Safari */
details::-webkit-details-marker {
    display: none
}

summary:hover {
  scale: 1.02;
}

details {
  position: relative;
  padding: 10px;
  interpolate-size: allow-keywords;
}

details::details-content {
  transition: block-size 1s, content-visibility 1s allow-discrete;
  overflow: hidden;
  block-size: 0;
}

details[open]::details-content {
  block-size: auto;
}

.content-link {
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: var(--border-radius);
  background: linear-gradient(180deg, #d6a553, #8f5907);
  max-width: 8rem;
  width: 100%;
  scale: 1;
  transition: all ease-in-out 150ms;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  align-self: end;
  margin-bottom: 1rem;
}

.content-link.cash {
  max-width: 17rem;
}

.content-link:hover {
  scale: 1.02;
}

/* REVIEW */
.review {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  margin: auto;
  max-width: var(--max-width);
  gap: 1rem;
}

.review-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  gap: 1rem;
  flex: 1 0 20rem;
  border-top: 0.25rem solid #d6a553;
  border-bottom: 0.25rem solid #8f5907;
}

.review-star {
  display: flex;
}

/* INSTAGRAM */

.instagram {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  margin: auto;
  gap: 1rem;
}

.instagram a {
  color: #2a6496;
}
.instagram a span {
  color: #000000;
}

.instagram a:hover {
  text-decoration: underline;
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background-color: var(--content-color);
  margin: auto;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.contact-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.telephone,
.email {
  display: flex;
  gap: 1rem;
  color: inherit;
}

.telephone,
.email {
  color: inherit;
}

.telephone:hover,
.email:hover {
  text-decoration: underline;
}

.telephone a:focus,
.email a:focus {
  outline: var(--focus);
}

.qr-code {
  width: 6rem;
}

.contact-appointment svg path {
  color: #000000;
  transition: var(--first-transition);
}

.contact-appointment {
  background: linear-gradient(180deg, #d6a553, #8f5907);
  color: #000000;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: var(--first-transition);
  width: fit-content;
  gap: 0.5rem;
}

.contact-appointment:focus {
  outline: var(--focus);
}

.contact-content .contact-appointment {
  margin: 2rem;
}

.contact-appointment:hover {
  color: #ffff;
}

.contact-appointment:hover svg path {
  color: #ffff;
}

.contact-appointment svg {
  min-width: 25px;
  min-height: 25px;
}

.contact-appointment span {
  display: contents;
  font-weight: bold;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--footer);
  margin-bottom: 0;
}

.footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer nav a {
  width: 4rem;
}
.footer nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer nav ul li {
  transform: scale(1);
  transition: var(--first-transition);
}

.footer nav ul li:hover {
  transform: scale(1.02);
}

.footer nav ul li a {
  color: var(--letter-color);
}

.footer nav ul li a:focus-visible {
  outline: var(--focus);
}

.footer nav .social-media li a img {
  width: 2rem;
}

.footer .footer-copyright {
  font-size: clamp(0.1rem, 3vw, 1rem);
}

.faq,
.appointment,
.legacy,
.imprint {
  flex: 1;
  margin-top: 0.5rem;
}

.appointment-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  padding: 7rem 2rem 2rem 2rem;
  position: relative;
}

.faq,
.legacy,
.imprint {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  max-width: var(--max-width);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--content-color);
  padding: 2rem;
  padding: 7rem 2rem 2rem 2rem;
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
}

.imprint-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.legacy-description p,
.imprint-description p {
  margin-bottom: 1rem;
}

.legacy-description h2,
.imprint-description h2 {
  font-size: 1.3rem;
}

.legacy-description h3,
.imprint-description h3 {
  font-size: 1.1rem;
}

.imprint-description p:nth-child(1),
.imprint-description p:nth-child(2) {
  font-weight: 700;
}

.imprint-description p a[target="_blank"] {
  word-break: break-all;
}

.legacy-description .legacy-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.legacy-description p a[target="_blank"] {
  word-break: break-all;
}

.error {
  display: none;
}

.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--body-bg);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px  !important;
  height: 1px  !important;
  margin: -1px  !important;
  border: 0  !important;
  padding: 0  !important;

  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.faq {
  flex: 1;
}

@media (max-width: 950px) {
  .main-nav {
    padding-inline: 1rem;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    display: none;
    padding-top: 3rem;
    transition: all 175ms ease-in-out;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    box-shadow: var(--box-shadow);
    background-color: var(--body-bg);
    background-image: url(../assets/SK-favicon-colorless.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-nav button {
    display: flex;
    border: 2px dotted transparent;
  }

  .main-nav button:focus-visible {
    border: 2px dotted var(--primary);
    outline: var(--primary);
  }

  .main-nav .show-menu {
    display: flex;
  }

  .main-nav .pos-fix-hamburger {
    z-index: 4;
    position: fixed;
    right: 32px;
    top: 19px;
  }

  .remove-menu {
    display: none;
  }

  .header-button {
    display: none;
  }

  .why-start-in-krypto-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .service-description {
    justify-content: start;
  }

  .service-description li {
    flex-direction: row;
    flex-basis: auto;
    max-width: none;
  }

  .main-nav .pos-fix-hamburger:focus-visible {
    border: 2px dotted var(--primary);
    outline: var(--primary);
  }

  .why-start-in-krypto-img {
    border: 0.25rem solid var(--primary); /* Inner border */
    box-shadow: 0 0 0 0.25rem var(--secondary); /* Outer border */
    border-radius: 50%;
    width: 168px;
    height: 168px;
  }
  
}


@media (max-height: 400px) {
  .main-nav ul {
    overflow-y: auto;
    padding-block: 50px;
  }
}

@media (max-width: 500px) {
  .main-nav {
    height: 3rem;
    padding-inline: 0;
  }

  .main-nav .logo img {
    height: 3rem;
  }

  .main-nav .pos-fix-hamburger {
    right: 16px;
    top: -5px;
  }

  .welcome {
    padding: 3rem 0rem 2rem; /*top block bottom */
  }

  .welcome .welcome-content {
    padding-inline: 0;
  }

  .welcome .welcome-content p {
    padding-inline: 0;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 4rem;
  }

  .imprint-content,
  .legacy-content {
    padding: 5rem 2rem 2rem 2rem;
  }

  .service .service-description p {
    line-height: 1.5;
  }

  .road-lists li {
    flex-direction: column;
    gap: 1rem;
  }

  .strong-plus-container {
    margin: 0;
  }

  .contact-appointment {
    text-align: center;
  }
}
